@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100vh;
}
.btn{
    padding: 10px 20px;
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
.btn:hvoer{
    background: #0056b3 ;
}
.check{
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01ad0a;
    color: #ffffff;
    font-size: 30px;
    border: 1px solid #049117;
}
.message{
    opacity: 0;
    font-size: 1.5rem;
}