@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    box-sizing: border-box;
    height: 100vh;
}


/* Form heading */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

form{
    background: #ffffff;
    padding: 2rem;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.btn{
    min-width: 100%;
    margin-top: 2rem;
    padding: 10px 20px;
    background: #007bff;
    font-size: medium;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
.submitAnother{
    display: none;
    justify-content: center;
    font-family: 15px;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}
.submitAnother:hover{
    color: #007bff;
}
.btn:hvoer{
    background: #0056b3 ;
}
.check{
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01ad0a;
    color: #fff;
    font-size: 30px;
    border: 1px solid #049117;
    margin-right: 10px;
}
.check i{
    font-size: 24px;
}
.message{
    opacity: 0;
    font-size: 15px;
}

.row{
    transform: translateY(-25px);
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.hide{
    display: none;
}
.rotateIn{
    animation: rotateIn 0.5s forwards;
}
.fadeIn{
    animation: fadeIn 1.3s 0.5s forwards;
}

@keyframes rotateIn{
    0%{
        opacity: 0;
        scale: 0.5;
        transform: rotate(0deg);
        filter: blur(5px);
    }
    50%{
        opacity: 1;
        scale: 1.2;
    }
    90%{
        opacity: 1;
        scale: 1;
        transform: rotate(360deg);
    }
    100%{
        opacity: 1;
        transform: translateX(-60px);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}